* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.navbar,
.hero,
.footer {
    background-color: #1F2937;
}

.navbar
 {
    flex-basis: 150px;
}

.hero {
    flex-basis: 250px;
}

.container {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.nav {
    display: flex;
    gap: 10px;
}

h1 {
    color: white;
    font-size: 48px;
    font-weight: 900;
}

p {
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 10px;
}

h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    flex-basis: 100px;
}

button {
    background-color: blue;
    width: 100px;
}

img {
    height: 150px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxes {
    flex-basis: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote {
    background-color: #e5e7eb;
}

.testimonial {
    color: #1f2937;
    font-style: italic;
    font-size: 36px;
}

button,
.action {
    background-color: #3882f6;
}

h4 {
    color: white;
}

.footer {
    flex-basis: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action .container button {
    border: 1px solid rgb(255, 255, 255);
}

.action {
    margin: 100px;
}